<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="icon" type="image/png"  href="assets/img/favicon.png">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>How Has Political Sentiment Changed Over the Course of the Pandemic?</h1>
      </header>
      <section>
        <h2>Grouping Countries by Response</h2>
        <p>We can imagine that countries can be grouped together based on their response to the COVID pandemic.
          From `interventions.csv`, we can calculate how long it took for the first measures to be imposed after
           the first case in the country, and for how long mobility in the country was reduced. Based on these two 
           measures, we can try to find clusters of countries in order to group them.
        </p>
        <p>
          We calculate the Silhouette Score for different numbers of clusters in order to find the optimal number of
           clusters.
        </p>
        <img src="/ada-template-website/assets/img/Shilhouetette_Score_for_Each_Value_of_K.png" alt="Silhouette Score">
        <p>We can identify the following groups of countries:</p>
        <ol>
          <li>
            Big European economies which took a long time to react to COVID (possibly due to not wanting to harm 
            the economy or being less able to enforce measures over a large population) and ended up having long 
            periods of reduced mobility (France, Germany, Italy).
          </li>
          <li>
            Smaller highly developed European countries which reacted quickly to COVID and had shorter periods of 
            reduced mobility (Denmark, Netherlands, Norway).
          </li>
          <li>
            Countries which took longer to react to COVID but had shorter periods of reduced mobility
             (Finland, Japan, Sweden).
          </li>
          <li>
            Countries with relatively short periods of reduced mobility compared to other countries (Serbia, South Korea).
          </li>
        </ol>
        <p>
          Spain is the only country not featured in the plot above. We take a look at its entry in `interventions.csv`.
        </p>
        <img src="/ada-template-website/assets/img/redused_Mobility_VS_Response_Time.png" alt="Redused Mobility">
        <p>
          The response time was not swift relative to other countries. The datapoint is not plotted due to having an
           undefined duration of the reduced mobility period, since there is no date for the return to normal mobility levels. 
           We can say that the reduced mobility period is also a long one, which would place Spain in group 1 - big European 
           economies with a long response time and long period of reduced mobility.
        </p>
      </section>
      <section>
        <h2>Obtaining Polling Data</h2>
        <p>We obtain polling data from <a href="https://filipvanlaenen.github.io/eopaod/"> European Opinion Polls as Open Data </a> 
          - a collection of opinion polls for European countries.
        </p>
        <p>
          The dataset, understandably, lacks data for Japan and South Korea. Data for Serbia is not present either. Nonetheless, 
          we still have data for 9 of the 12 countries, so we continue working with these countries instead.
        </p>
        <p>Our final groups of countries based on response to the pandemic are:</p>
        <ol>
          <li>France, Germany, Italy, Spain</li>
          <li>Denmark, Netherlands, Norway</li>
          <li>Finland, Sweden</li>
        </ol>
        <p>We also have the following geographic groups:</p>
        <ol>
          <li>Northern Europe - Denmark, Finland, Norway, Sweden</li>
          <li>Western Europe - France, Germany, Netherlands</li>
          <li>Southern Europe - Italy, Spain</li>
        </ol>
        <p>For each country, we plot the polling data for the current 5 most represented parties in parliament 
          (excluding parties founded in 2021 or later). Our error bars represent the standard deviation each month.
        </p>
        <p>
          In addition, we denote with `*` the main party in government at the beginning of the pandemic and when 
          the first COVID related death occured. This represents the beginning of when the population becomes 
          seriously affected by the virus.
        </p>
        <h3>Group 1</h3>
      </section>
      {{ content }}
      <footer>
        <!-- {% if site.github.is_project_page %} -->
        <p>This project is maintained by</p>
        <div class="link--git">
          <div class="ling--git--item">
            <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
          </div>
          <div class="ling--git--item">
            <a href="https://github.com/antonhosgood"> antonhosgood</a>
          </div>
          <div class="ling--git--item">
            <a href="https://github.com/tecabert"> tecabert </a> 
        </div>
          <div class="ling--git--item">
            <a href="https://github.com/Ravosoa"> Ravosoa</a>
          </div>
        </div>
          
        <!-- {% endif %} -->
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
